.input{
    background-color: #EEEEEE;
    color: rgba(0, 0, 0, 0.54);;
    box-shadow: inset -1px -1px 1px rgba(255, 255, 255, 0.7), inset 1.5px 1.5px 1px rgba(174, 174, 192, 0.2);
    font-weight: 900;
}